@import "./normalize.css";
@import "./assets/fonts/roboto/roboto.css";
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lato/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/lato/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/lato/lato-v17-latin-regular.woff2") format("woff2"), url("./assets/fonts/lato/lato-v17-latin-regular.woff") format("woff"), url("./assets/fonts/lato/lato-v17-latin-regular.ttf") format("truetype"), url("./assets/fonts/lato/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v20-latin-regular.woff") format("woff"), url("./assets/fonts/roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v20-latin-700.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v20-latin-700.woff") format("woff"), url("./assets/fonts/roboto/roboto-v20-latin-700.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}