@import "./normalize.css";
@import "./assets/fonts/roboto/roboto.css";
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lato/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/lato/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/lato/lato-v17-latin-regular.woff2") format("woff2"), url("./assets/fonts/lato/lato-v17-latin-regular.woff") format("woff"), url("./assets/fonts/lato/lato-v17-latin-regular.ttf") format("truetype"), url("./assets/fonts/lato/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v20-latin-regular.woff") format("woff"), url("./assets/fonts/roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v20-latin-700.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v20-latin-700.woff") format("woff"), url("./assets/fonts/roboto/roboto-v20-latin-700.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
:root {
  font-size: 10px;
}

body {
  font-family: "Roboto";
  background-color: #EEEEEE;
}

h1, h2, h3, h4 {
  color: #011F3A;
}

h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

p, span {
  color: #777777;
  font-size: 1.4rem;
}

button {
  font-size: 1.2rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

a {
  color: #011F3A;
  font-size: 1.5rem;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

#bigButton {
  padding: 15px;
}

.buttonWhite {
  border-radius: 40px;
  color: #011F3A;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  letter-spacing: 0.1em;
}

.buttonBlue {
  border-radius: 40px;
  color: #ffffff;
  background-color: #3D5675;
  padding: 10px 20px 10px 20px;
  letter-spacing: 0.1em;
}

#header {
  padding: 20px;
  background-color: #ffffff;
}
#header .container {
  display: flex;
  justify-content: space-between;
}
#header .container a:hover {
  border-bottom: 1px solid #011F3A;
}
#header .container img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: initial;
  object-fit: contain;
}
#header .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#header .container ul li {
  position: relative;
  margin: 0 10px;
}
#header .container div {
  display: flex;
  align-items: center;
}
#header .container div a {
  margin-right: 10px;
}

.current-page {
  border-bottom: 1px solid #011F3A;
}

.current-page::before {
  content: "";
  width: 15px;
  height: 15px;
  left: -20px;
  position: absolute;
  display: inline-block;
  background-size: contain;
  background-image: url(./assets/images/header/Vector.png);
}

.start {
  display: flex;
  padding: 80px 0;
  justify-content: center;
  background-color: #F2AE4D;
}
.start .container {
  display: flex;
  justify-content: space-between;
}
.start__info-wrapper {
  width: 50%;
  align-self: center;
}
.start__info {
  width: 68%;
}
.start__info h1 {
  margin-bottom: 30px;
}
.start__info p {
  width: 75%;
  margin-bottom: 10px;
  color: #011F3A;
}
.start__info button {
  padding: 15px 20px 15px 20px;
}
.start__img-container {
  width: 50%;
  align-self: center;
}

.approvals {
  padding: 5px 0;
  background-color: #ffffff;
}
.approvals .container {
  display: flex;
  justify-content: space-between;
}

.approved {
  display: flex;
  align-items: center;
}
.approved span {
  margin-left: 20px;
}
.approved img {
  margin: inherit;
}

.products__customize {
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: space-between;
}
.products__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.products__stock {
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
}
.products__stock p {
  margin-right: 40px;
}

.product {
  margin: 2px;
  padding: 15px;
  background-color: #ffffff;
}
.product__info {
  display: flex;
  justify-content: space-between;
}
.product__info p {
  width: 70%;
}