@import "./normalize.css";
@import "./assets/fonts/roboto/roboto.css";

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/roboto/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/roboto/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/roboto/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/roboto/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/roboto/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

$primary-color1: #ffffff;
$primary-color2: #011F3A;
$primary-color3: #3D5675;
$primary-color4: #EEEEEE;
$primary-color5: #777777;

@mixin button($color, $backgroundColor, $padding) {
  border-radius: 40px;
  color: $color;
  background-color: $backgroundColor;
  padding: $padding;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Roboto';
  background-color: $primary-color4;
}

h3 {
  font-size: 1.8rem;
}
p, span {
  color: $primary-color5;
  font-size: 1.4rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

a {
  color: $primary-color2;
  font-size: 1.5rem;
}

.container {
  margin: 0 10px;
  margin: 0 auto;
  max-width: 1200px;
}

#bigButton {
  padding: 15px;
}
.buttonWhite {
  @include button($primary-color2, $primary-color1, 10px);
}
.buttonBlue {
  @include button($primary-color1, $primary-color3, 10px);
}

#header {
  padding: 20px;
  background-color: $primary-color1;
  .container {
    display: flex;
    justify-content: space-between;
    a:hover {
      border-bottom: 1px solid $primary-color2;
    }
    img {
      width: fit-content;
      margin: initial;
      object-fit: contain;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      li {
        position: relative;
        margin: 0 10px;
      }
    }
    div {
      display: flex;
      align-items: center;
      a {
        margin-right: 10px;
      }
    }
  }
}
.current-page {
  border-bottom: 1px solid $primary-color2;
}
.current-page::before {
  content:"";
  width: 15px; 
  height: 15px;
  left: -20px;
  position: absolute;
  display: inline-block;
  background-size: contain;
  background-image: url(./assets/images/header/Vector.png);
}
.product {
  padding: 15px;
  background-color: $primary-color1;
		&__name {}

		&__info {
      display: flex;
      justify-content: space-between;
      p {
        width: 70%;
      }
    }
}

.approved {
  display: flex;
  align-items: center;
  span {
    margin-left: 20px;
  }
  img {
    margin: inherit;
  }
}
